<!DOCTYPE html>
<html>
    <head>

        <title>Andy's Blog</title>
    </head>
    <body>
        <header class="page-header">
            <div class="container">
                <a href="{% url 'post_new' %}" class="top-menu">
                    {% include './icons/file-earmark-plus.svg' %}
                </a>
                <h1><a href="/">Django Blog</a></h1>
            </div>
          </header>
          <main class="container">
              <div class="row">
                  <div class="col">
                  {% block content %}
                  {% endblock %}
                  </div>
              </div>
          </main>
    </body>
</html>